p {
  border: 1px solid red;
  width: fit-content;
  padding: 10px 20px 30px;
}
.flexbox div {
  border: 1px solid red;
}
.flexbox {
  display: flex;
  flex-direction: row;
}
@media only screen and (max-width: 468px) {
  p {
    background-color: green;
  }
}
