body {
  font-family: sans-serif;
}
article {
  border: 4px solid #000;
}
.product-title {
  background-color: rgb(242, 240, 240);
  text-transform: uppercase;
  text-align: center;
  font-size: 25px;
}
.product-price {
  font-size: 24px;
}
.deal {
  text-transform: uppercase;
  color: gray;
}
#product-details h3 {
  font-size: 16px;
  text-transform: uppercase;
}
#product-details li {
  list-style-type: square;
}
article button {
  background-color: #000;
  color: #fff;
  text-transform: uppercase;
  font-size: 20px;
}
article button:hover {
  cursor: pointer;
  background-color: #fff;
  color: #000;
}
article a {
  color: #000;
}
article a:hover {
  text-decoration: none;
}
